<%= render 'shared/header', title: 'Login' %>

<%= form_tag "/sessions" do %>

<div class="control-group">
<%= label_tag :username %>
<%= text_field :username, params[:username] || "" %>
</div>

<div class="control-group">
<%= label_tag :password %>
<%= password_field_tag :password, params[:password] || "" %>
</div>

<div class="control-group">
<%= submit_tag "Submit", class: "btn btn-primary" %>
</div>

<% end %>