<%= render 'shared/errors', obj: @user %>

<div class='span8 well'>
<div class="lead">
  Create an Account
</div>

  <%= form_for @user do |f| %>

  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Register", class: "btn btn-success" %>

  <% end %>
</div>