<div class="span8 well">
    <%= render 'shared/header', title: @user.username %>
    <p>Email: <%= @user.email %></p>
    <p>Member since: <%= datetime(@user.created_at) %>
    <p>Posts: <%= @user.posts.size %></p>
    <p>Post comments: <%= @user.comments.size %></p>
</div>

<p class='lead'>My Posts</p>

<% @user.posts.each do |post| %>
<div class="span8 well">
  <h5><%= link_to post.title, post_path(post) %></h5>
  <%= post.description %>
  <p class="small quiet"> posted in <%= post.course.department %> <%= post.course.number %> at <%= post.created_at %>
  </p>
</div>
<% end %>
