<% if session[:user] == nil %>

<div align="center">
  <div class="span12 well">
  <div class="jumbotron">
    <h1>Welcome!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac dolor eu arcu elementum dictum id eu sem. Nunc id elit vehicula, luctus nibh sed, tristique quam. Nunc pellentesque vehicula risus, sed pulvinar nisi accumsan faucibus. Proin pulvinar, ipsum vitae tincidunt congue, ante lacus commodo lacus, ac pharetra mauris arcu sit amet ligula.</p>
    <%= link_to "Signup", new_user_path, :class => "btn btn-primary" %>
    <%= link_to "Login", new_session_path, :class => "btn btn-success" %>
  </div>
  </div>
</div>

<% else %>

<% if session[:user].courses.any? %>
<%= render 'shared/header', title: 'My Courses' %>
<% session[:user].courses.each do |sub| %>
<div class='span8 well'>
  <%= sub.name %> | <%= sub.department %> <%= sub.number %> <%= link_to 'View Course', course_path(sub) %>
</div>
<% end %>

<% else %>
<div class='span8 well'>
  <p>You're not registered for any courses.</p>
  <p>To view available courses, go <%= link_to 'here', courses_path %>.</p>
  <p class='quiet'>(If you've registered for a course, logout then login to show your newly registered courses.)</p>
</div>
<% end %>
<% end %>