<p class'lead'>Resources for <%= @course.name %></p>

<%= link_to "New Resource", new_course_resource_path(@course), class: 'btn btn-success' %>

<p><% @course.resources.each do |resource| %>
<div class='span8 well'>
  <%= resource.category %>
  <%= resource.body %>
  <%= resource.url %>
  <%= link_to 'file', resource.photo %>
</div>
<% end %></p>