<p class="lead"> All Courses </p>

<hr>

<div class="control-group">
  <%= link_to "Register a new course", new_course_path, class: 'btn btn-success' %>
</div>

<% @courses.each do |course| %>
<%= link_to course_path(course) do %>

  <div class="span8 well">
    <%= course.name %>
    <br>
    <%= course.department %>
    <%= course.number %>
    <p><%= course.subscribed_courses.size %> students </p>
  </div>

  <% end %>
<% end %>