<p>Put 'register a new course' form here.</p>

<div class="span8 well">
  <%= form_for @course do |f| %>

  <div class="control-group">
  <%= f.label :name %>
  <%= f.text_field :name %>
  </div>

  <div class="control-group">
  <%= f.label :abbreviation %>
  <%= f.text_field :abbreviation %>
  </div>

<<<<<<< HEAD
  <%= f.submit "Register course", class: "btn btn-success" %>
=======
  <div class="control-group">
  <%= f.submit "Register course", class: "btn btn-success" %>
  </div>
>>>>>>> courses

  <% end %>
</div>
