<p class="lead"> <%= @course.name %> </p>

<div class='span8 well'>
<%= form_for @post do |f| %>

<div class="control-group">
<%= f.label :title %>
<%= f.text_field :title %>
</div>

<div class="control-group">
<%= f.label :description %>
<%= f.text_area :description %>
</div>

<div class="control-group">
<%= f.submit "Create Thread", class: "btn btn-primary" %>
</div>

<% end %>
</div>

<hr>

<% @course.posts.reload.each do |post| %>
  <div class="span8 well">
    <%= post.description %>
  </div>
<% end %>