<div class='span8 well'>

<%= render 'shared/header', title: @course.name %>

<p><%= @course.description %></p>

<p class="quiet"> <%= @course.department %> | <%= @course.number %> </p>

<% if @course.subscribed_courses.any? and (@course.subscribed_courses.select {|x| x.user_id == session[:user].id}).any? %>
<% @subscribed_courses = @course.subscribed_courses.select {|x| x.user_id == session[:user].id} %>
  <%= link_to "[Unsubscribe]", unsubscribe_path(@subscribed_courses), method: 'delete'%>
  <%= link_to "[New Assignment]", new_course_assignment_path(@subscribed_courses) %>
  <%= link_to "[Calendar]", calendar_path(@course) %>
<% else %>
  <%= link_to "[Subscribe]", subscribe_path(@course), method: 'post' %>
<% end %>

</div>



<%= render 'shared/errors', obj: @post %>

<div class="span8 well">

<% if @course.subscribed_courses.any? and (@course.subscribed_courses.select {|x| x.user_id == session[:user].id}).any? %>

<%= render 'shared/header', title: 'New Post' %>

<%= form_for [@course, @post] do |f| %>

<div class="control-group">
<%= f.label :title %>
<%= f.text_field :title %>
</div>

<div class="control-group">
<%= f.label :description %>
<%= f.text_area :description, rows: 5 %>
</div>

<div class='control-group'>
  <%= f.file_field :photo %>
</div>

<div class="control-group">
<%= f.submit "Create Post", class: "btn btn-success" %>
</div>

<% end %>

</div>

<% @course.posts.reload.each do |post| %>
  <%= link_to course_post_path(params[:id], post.id) do %>
  <div class="span8 well">
    <h4><%= post.title %></h4>
    <% @image_url = "uploads/post/photo/#{post.id}" %>
    <%= image_tag post.photo_url() %>
    <p><%= post.description %></p>
    <p class="small quiet">created at <%= datetime(post.created_at) %> by <%= post.user.username %></p>
  </div>
  <% end %>
<% end %>

  <% if @course.posts.empty? %>
  <div class="span8 well">
    <h3>There aren't any posts yet!</h3>
  </div>
  <% else %>
  <% end %>

  <% else %>

  <div class="">
    <h3>You need to subscribe to participate in this course.</h3>
  </div>

  <% end %>

