<div class='control-group'>
<%= link_to "Back to #{@post.course.name}", course_path(params[:course_id]), class: 'btn btn-warning' %>
</div>

<div class="span8 well">
    <h5><%= @post.title %></h5>
  <%= @post.description %>
  <p class="small quiet"> posted in <%= @post.course.department %> <%= @post.course.number %> at <%= @post.created_at %>
</div>

<div class='span8 well'>
  <h5>Leave a comment</h5>
  <%= form_for [@post, @comment] do |f| %>
  <%= f.label :body %>
  <%= f.text_area :body %>

  <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>


<% @post.comments.each do |comment| %>
  <div class="span8 well">
    <p><%= comment.body %></p>
    <em class="small quiet"> - <%= comment.user.username %> at
    <%= datetime(comment.created_at) %></em>
  </div>
<% end %>
