<ul class="nav">
  <li>
    <%= link_to "Whiteboards", root_path, :class => 'brand' %>
  </li>
  <li>
    <%= link_to 'Course Catalog', courses_path %>
  </li>

  <% if session[:user] != nil %>
      <li><%= link_to "Profile", user_path(User.find_by(id: session[:user])) %></li>
  <% else %>
  <% end %>

  <% if session[:user] != nil %>
  <li>
    <%= link_to 'Logout', logout_path, method: 'delete' %>
  </li>
  <% else %>
  <li>
    <%= link_to 'Login', new_session_path %>
  </li>
  <% end %>
</ul>